
@tailwind base;
@tailwind components;
@tailwind utilities;



#body {
  background-color: #2b15b7;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  height: 10vh;
  top: 0px;
  right: 0px;
  left: 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.622);
  position: fixed;
  top: 0px;
}

.img1 {
  max-width:250px;
  height: 250px;
  
 
}

.link {
  margin: 20px;
  text-align: right;
}

.link a {
  padding-right: 22px;
  color: rgba(20, 20, 229, 0.554);
  cursor: pointer;
}

.link a:hover {
  padding: 10px;
  background-color: #3316eb;
  color: white;
  border-radius: 20px;
  transition: 3s;
}

/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #e0f2fe;
  color: #1e3a8a;
}

.home-container {
  background: linear-gradient(to right, #ffffff, #93c5fd);
  text-align: center;
  padding: 2.5rem;
}

.home-inner {
  margin: 4rem auto;
}

/* Image Styles */
.home-image {
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.home-pulse-image {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Text Styles */
.home-title {
  font-size: 2rem;
  margin-top: 1rem;
  cursor: pointer;
}

.home-subtitle {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.home-paragraph {
  font-size: 1rem;
  margin-top: 1rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.home-highlight {
  font-weight: 600;
}

/* Developer Section */
.developer-section {
  margin-top: 2rem;
}

.developer-title {
  font-size: 1rem;
  margin-top: 1rem;
}

.developer-paragraph {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .home-title {
    font-size: 2.5rem;
  }

  .home-subtitle {
    font-size: 1.75rem;
  }

  .home-paragraph {
    font-size: 1.125rem;
    max-width: 40rem;
  }

  .developer-title {
    font-size: 1.25rem;
  }

  .developer-paragraph {
    font-size: 1rem;
    max-width: 30rem;
  }
}

@media (min-width: 1024px) {
  .home-inner {
    margin: 6rem auto;
  }

  .home-title {
    font-size: 3rem;
  }

  .home-subtitle {
    font-size: 2rem;
  }

  .home-paragraph {
    font-size: 1.25rem;
  }

  .developer-title {
    font-size: 1.5rem;
  }

  .developer-paragraph {
    font-size: 1.125rem;
  }
}
